In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("orders_example.csv")
df

,order_id,customer_id,product,category,price,quantity,score,country,order_date
0,1001,C01,Laptop,Electronics,3500.0,1,95.0,Poland,2024-03-01
1,1002,C02,Mouse,Accessories,120.0,2,NaN,Germany,2024-03-03
2,1003,C03,Smartphone,Electronics,NaN,1,80.0,Poland,2024-03-07
3,1004,C04,Headphones,Accessories,450.0,1,89.0,France,2024-03-08
4,1005,C01,Monitor,Electronics,999.0,2,30.0,Poland,2024-03-10
5,1006,C05,Power Bank,Accessories,85.0,3,92.0,Czechia,2024-03-12

In [3]:
df.head()

,order_id,customer_id,product,category,price,quantity,score,country,order_date
0,1001,C01,Laptop,Electronics,3500.0,1,95.0,Poland,2024-03-01
1,1002,C02,Mouse,Accessories,120.0,2,NaN,Germany,2024-03-03
2,1003,C03,Smartphone,Electronics,NaN,1,80.0,Poland,2024-03-07
3,1004,C04,Headphones,Accessories,450.0,1,89.0,France,2024-03-08
4,1005,C01,Monitor,Electronics,999.0,2,30.0,Poland,2024-03-10

In [4]:
df.tail()  # 5 ostatnich

,order_id,customer_id,product,category,price,quantity,score,country,order_date
1,1002,C02,Mouse,Accessories,120.0,2,NaN,Germany,2024-03-03
2,1003,C03,Smartphone,Electronics,NaN,1,80.0,Poland,2024-03-07
3,1004,C04,Headphones,Accessories,450.0,1,89.0,France,2024-03-08
4,1005,C01,Monitor,Electronics,999.0,2,30.0,Poland,2024-03-10
5,1006,C05,Power Bank,Accessories,85.0,3,92.0,Czechia,2024-03-12

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     6 non-null      int64
 1   customer_id  6 non-null      object
 2   product      6 non-null      object
 3   category     6 non-null      object
 4   price        5 non-null      float64
 5   quantity     6 non-null      int64
 6   score        5 non-null      float64
 7   country      6 non-null      object
 8   order_date   6 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 564.0+ bytes

In [6]:
df.describe()

          order_id        price  quantity      score
count     6.000000     5.000000  6.000000   5.000000
mean   1003.500000  1030.800000  1.666667  77.200000
std       1.870829  1428.231669  0.816497  26.975915
min    1001.000000    85.000000  1.000000  30.000000
25%    1002.250000   120.000000  1.000000  80.000000
50%    1003.500000   450.000000  1.500000  89.000000
75%    1004.750000   999.000000  2.000000  92.000000
max    1006.000000  3500.000000  3.000000  95.000000

In [7]:
df['price'].fillna(df['price'].mean(), inplace=True)

C:\Users\CSComarch\AppData\Local\Temp\ipykernel_14852\2891868414.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].mean(), inplace=True)

In [8]:
# zalecena wersja
df['price'] = df['price'].fillna(df['price'].mean())

In [9]:
df['score'].fillna(df['score'].median(), inplace=True)
# df['score'] = df['score'].fillna(df['score'].median())

C:\Users\CSComarch\AppData\Local\Temp\ipykernel_14852\3156443114.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['score'].fillna(df['score'].median(), inplace=True)

In [10]:
df

,order_id,customer_id,product,category,price,quantity,score,country,order_date
0,1001,C01,Laptop,Electronics,3500.0,1,95.0,Poland,2024-03-01
1,1002,C02,Mouse,Accessories,120.0,2,89.0,Germany,2024-03-03
2,1003,C03,Smartphone,Electronics,1030.8,1,80.0,Poland,2024-03-07
3,1004,C04,Headphones,Accessories,450.0,1,89.0,France,2024-03-08
4,1005,C01,Monitor,Electronics,999.0,2,30.0,Poland,2024-03-10
5,1006,C05,Power Bank,Accessories,85.0,3,92.0,Czechia,2024-03-12

In [11]:
df.describe()

          order_id       price  quantity      score
count     6.000000     6.00000  6.000000   6.000000
mean   1003.500000  1030.80000  1.666667  79.166667
std       1.870829  1277.44924  0.816497  24.604200
min    1001.000000    85.00000  1.000000  30.000000
25%    1002.250000   202.50000  1.000000  82.250000
50%    1003.500000   724.50000  1.500000  89.000000
75%    1004.750000  1022.85000  2.000000  91.250000
max    1006.000000  3500.00000  3.000000  95.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     6 non-null      int64
 1   customer_id  6 non-null      object
 2   product      6 non-null      object
 3   category     6 non-null      object
 4   price        6 non-null      float64
 5   quantity     6 non-null      int64
 6   score        6 non-null      float64
 7   country      6 non-null      object
 8   order_date   6 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 564.0+ bytes

wartości odstającę IQR

In [14]:
Q1 = df['score'].quantile(0.25)
Q3 = df['score'].quantile(0.75)

In [15]:
IQR = Q3 - Q1
IQR

np.float64(9.0)

In [16]:
outliers = df[df['score'] > Q3 + 1.5 * IQR]
outliers

Empty DataFrame
Columns: [order_id, customer_id, product, category, price, quantity, score, country, order_date]
Index: []